.container {
  margin: 2rem auto;
  text-align: left;
}

.input {
  display: block;
  width: 100%;
  background: var(--yellow);
  border: var(--border-style);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  margin: 0.75rem auto 0;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
