.btn {
  border: var(--border-style);
  background-color: var(--purple);
  font-size: 24px;
  font-weight: 700;
}

.regular {
  border-radius: 36px;
  padding: 16px 32px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%
}