.container {
  width: 35%;
  margin: 2rem auto;
  text-align: left;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.75rem auto 0;
}

.select > label {
  font-size: max(1rem, 1.25rem);
}

.select > select {
  width: 100%;
  appearance: none;
  cursor: pointer;
  line-height: inherit;
  border: var(--border-style);
  border-radius: var(--border-radius);
  background-color: var(--yellow);
  padding: 1rem 0.5rem;
  font-weight: inherit;
  font-size: inherit;
}

.select >  select::-ms-expand {
  display: none;
}

.select::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  padding: 0 1.5rem;
  pointer-events: none;
}