@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Rampart+One&display=swap');

:root {
  --pink: #FF8577;
  --yellow: #FFC700;
  --purple: #C7B9FF;
  --border-radius: 12px;
  --border-style: 4px solid black;
  --font-size: max(1.25rem, 1.75rem);
}

body {
  background-color: var(--pink);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  font-weight: 700;
}

h1, h2, h3, h4 {
  font-family: 'Rampart One', cursive;
}

h1 {
  font-size: max(5ch, 7vw);
}

h2 {
  font-size: max(6ch, 9vw);
}
